* {
    font-family: Verdana;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

a:active{
    color: blue;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
    width: 100%;
    background-color: #F6F1DE;
    overflow: auto;
    margin: 0;
}

.menu {
    list-style-type: none;
    text-align: center;
    background-color: #3E3F5B;
    position: sticky;
    top: 0;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a {
    color: white;
}

.menuListItems {
    display: inline;
    padding: 0.5em;
}

#body {
    background-color: #F6F1DE;
    flex-direction: column;
    flex-grow: 1;
}

#body h2 {
    text-align: center;
}

.row {
    display: flex;
    /* gap: 1em; */
    background-color: #8AB2A6;
    height: auto;
    min-height: 10em;
    /* margin: 1em; */
    flex: 1;
    justify-content: center;
}

.column {
    flex: 1;
    background-color: #F6F1DE;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column img {
    width: 12em;
}

.carousel {
    /* margin: 1em; */
    height: 20em;
    background-color: #F6F1DE;
}

.insertedRow {
    width: 100%;
    flex: 1;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
}

/* .separatedImage {
    margin: 1em; 
} */

#fullstack {
    width: 20em;
}

table, th, td {
    border-collapse: collapse;
}

#descriptionStyles {
    flex-direction: column;
}

#selectedPage {
    background: #8AB2A6;
}









