* {
    font-family: Verdana;
    font-size: 20px;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

p {
    padding: 0.5em;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

a:active{
    color: blue;
}

li {
    border-radius: 10px;
}

img {
    width: 30em;
}

#container {
    display: flex;
    flex-direction: column;
    /* gap: 0.5em; */
    height: 100%;
    width: 100%;
    background-color: #F6F1DE;
    overflow: auto;
    margin: 0;
}

.menu {
    background-color: #410445;
    position: sticky;
    top: 0;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    list-style-type: none;
    text-align: center;
    margin-right: 1em;
}

.menu a {
    color: white;
}

.menuListItems {
    display: inline;
    padding: 1em;
}

.logo {
    width: 6em;
    margin-left: 1em;
}

#body {
    background-color: #F6F1DE;
    flex-direction: column;
    flex-grow: 1;
}

#body h2 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: column;
    background-color: #C68EFD;
    height: auto;
    min-height: 2em;
    justify-content: space-between;
    color: white;
    font-size: 26px;
    padding: 1em 0 1em 0;
}

.altrow {
    display: flex;
    background-color: #F6F1DE;
    height: auto;
    min-height: 10em;
    justify-content: space-between;
    font-size: 26px;
    padding: 2em;
}

.full {
    width: 100%;
}

#centerAlign {
    text-align: center;
}

#hi {
    font-size: 4em;
}

.split {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.subtext {
    font-size: 1.5em;
}

#seventy {
    margin-left: 0.5em;
    flex: 7;
}

#twenty {
    flex: 2;
}

#thirty {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    margin-right: 0.5em;
}

#forty {
    flex: 4;
    margin-right: 1em;
}

#fifty {
    flex: 5;
}

.center {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#column {
    display: flex;
    flex-direction: column;
}

.carousel {
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.carousel img {
    width: 20%;
}

.carousel img:hover {
    width: 30%;
}

#footerText {
    color: white;
    margin-left: 1em;
    margin-right: 1em;
}

#subtitle {
    font-size: 3em;
}

#arduino {
    font-size: 1.5em;
}

#highschool {
    width: 20em;
}

#PC {
    font-size: 3em;
}

#Specs {
    margin-left: 1em;
}

#wow {
    margin-left: 10%;
}

#amazing {
    margin-left: 60%;
}

#incredible {
    margin-left: 25%;
}

.pcText {
    font-size: 1.5em;
}

.pcText:hover {
    font-size: 2em;
    color: #410445;
}

#developed {
    margin-left: 1em;
    font-size: 1.5em;
}

#cyber {
    font-size: 1.5em;
}

#internship {
    font-size: 1.5em;
}

#priorities {
    font-size: 1.2em;
}


#overallpics1{
    width: 50%;
}

#overallpics2 {
    width: 30%;
}






.column {
    flex: 1;
    background-color: #F6F1DE;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column img {
    width: 12em;
}


.insertedRow {
    width: 100%;
    flex: 1;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
}

/* .separatedImage {
    margin: 1em; 
} */

#fullstack {
    width: 20em;
}

table, th, td {
    border-collapse: collapse;
}

#descriptionStyles {
    flex-direction: column;
}

#selectedPage {
    background: #E9A5F1;
}









